<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ErsatzCiv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ErsatzCiv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <ErsatzCiv.Properties.Settings>
            <setting name="datasPath" serializeAs="String">
                <value>\datas\</value>
            </setting>
            <setting name="waitEndTurn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="savesSubFolder" serializeAs="String">
                <value>saves\</value>
            </setting>
            <setting name="openCityWindowAtProductionEnd" serializeAs="String">
                <value>False</value>
            </setting>
        </ErsatzCiv.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ErsatzCiv.Properties.Settings>
            <setting name="squareImageSubFolder" serializeAs="String">
                <value>square\</value>
            </setting>
            <setting name="showFullMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="squareImageBonusSubFolder" serializeAs="String">
                <value>bonus\</value>
            </setting>
            <setting name="defaultDatasPath" serializeAs="String">
                <value>\datas\</value>
            </setting>
        </ErsatzCiv.Properties.Settings>
    </applicationSettings>
</configuration>
